*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OfRegular;
    color: #fff;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(45deg, #130E0C,  #16100d);
}

@font-face {
    font-family: EpBlack;
    src: url(Assets/fonts/Epilogue-Black.ttf);
}

@font-face {
    font-family: EpBold;
    src: url(Assets/fonts/Epilogue-Bold.ttf);
}

@font-face {
    font-family: EpSemiBold;
    src: url(Assets/fonts/Epilogue-SemiBold.ttf);
}

@font-face {
    font-family: EpMedium;
    src: url(Assets/fonts/Epilogue-Medium.ttf);
}

@font-face {
    font-family: EpRegular;
    src: url(Assets/fonts/Epilogue-Regular.ttf);
}

@font-face {
    font-family: EpLight;
    src: url(Assets/fonts/Epilogue-Light.ttf);
}

@font-face {
    font-family: OfBlack;
    src: url(Assets/fonts/Outfit-Black.otf);
}

@font-face {
    font-family: OfBold;
    src: url(Assets/fonts/Outfit-Black.otf);
}

@font-face {
    font-family: OfSemiBold;
    src: url(Assets/fonts/Outfit-SemiBold.otf);
}

@font-face {
    font-family: OfMedium;
    src: url(Assets/fonts/Outfit-Medium.otf);
}

@font-face {
    font-family: OfRegular;
    src: url(Assets/fonts/Outfit-Regular.otf);
}

@font-face {
    font-family: OfLight;
    src: url(Assets/fonts/Outfit-Light.otf);
}

@font-face {
    font-family: MonospaceTypewriter;
    src: url(Assets/fonts/MonospaceTypewriter.ttf);
}
@font-face {
    font-family: de;
    src: url(Assets/fonts/DESIGNER.otf);
}
@font-face {
    font-family: be;
    src: url(Assets/fonts/BadgerValley-Regular.ttf);
}

@font-face {
    font-family: clashXLight;
    src: url(Assets/fonts/ClashDisplay-Extralight.otf);
  }
  
  @font-face {
    font-family: clashLight;
    src: url(Assets/fonts/ClashDisplay-Light.otf);
  }
  
  @font-face {
    font-family: clashMedium;
    src: url(Assets/fonts/ClashDisplay-Medium.otf);
  }
  
  @font-face {
    font-family: clashRegular;
    src: url(Assets/fonts/ClashDisplay-Regular.otf);
  }
  
  @font-face {
    font-family: clashSemiBold;
    src: url(Assets/fonts/ClashDisplay-Semibold.otf);
  }
  
  @font-face {
    font-family: clashBold;
    src: url(Assets/fonts/ClashDisplay-Bold.otf);
  }


/* Main Main Main Main Main Main Main Main Main Main Main Main Main Main
   Main Main Main Main Main Main Main Main Main Main Main Main Main Main
   Main Main Main Main Main Main Main Main Main Main Main Main Main Main
   Main Main Main Main Main Main Main Main Main Main Main Main Main Main
   Main Main Main Main Main Main Main Main Main Main Main Main Main Main
*/

.main{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    background: linear-gradient(45deg, #130E0C,  #16100d);
}



nav{
    z-index: 99;
    position: absolute;
    width: 96%;
    height: 10vh;
    top: 2.5vh;
    left: 2%;
    border-radius: 50px;
    background-color: #00000057;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo>a>img{
        width: 60px;
    }

    .logo>a{
        text-decoration: none;
        margin-left: 3vw;
        color: #7B7B7B;
        transition: color .5s;
        font-family: OfLight;
    }

    .logo>.active{
        color: #C7C7C7;
    }

    .logo>:first-child{
        margin-right: 5vw;
        margin-left: 1vw;
    }

    .logo>a:hover{
        color: #C7C7C7;
    }

    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons>.search{
        width: 2.8vw;
        height: 2.8vw;
        padding: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: transparent;
        outline: none;
        border: 1.5px solid #fff;
        cursor: pointer;
        transition: background-color .5s;
    }

    .buttons>.search>i{
        color: #C7C7C7;
        font-size: 1.2vw;
        z-index: 999;
        transition: color .5s;
    }

    .buttons>.shop,.buttons>.login{
        padding: .8vw 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: transparent;
        outline: none;
        border: 1.5px solid #fff;
        font-size: 1vw;
        letter-spacing: 1px;
        cursor: pointer;
        transition: background-color .5s, color .5s;
    }

    .buttons>.search:hover, .buttons>.shop:hover, .buttons>.login:hover{
        background-color: #fff;
        color: #000;
    }

    .buttons>.search:hover i{
        color: #000;
    }
}


/* Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero
   Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero
   Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero
   Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero
   Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero
*/

.hero{
    width: 100%;
    height: 120vh;
    /* background-color: rgb(73, 39, 45); */
    font-size: 1vw;
    color: wheat;
    position: relative;
    padding: 56vh 5vw;


    .container{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 96%;
        height: 86%;
        /* background-color: red; */
        border-radius: 30px;
        overflow: hidden;
        opacity: .2;
        z-index: -1;

        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            width: 100%;
            height: 100%;
            background-position: bottom;
            background-size: cover;
          }
      
          .swiper-slide img {
            /* display: block; */
            width: 100%;
            object-position: center;
            object-fit: cover;
          } 

    }

    

    h3{
        margin-bottom: 4vh;
    }
    
    h3>i{
        font-size: 1vw;
        font-family: clashRegular;
        font-weight: 100;
        color: #D5D1CF;
        letter-spacing: .5px;
    }

    h1{
        font-size: 4vw;
        font-family: clashBold;
        font-weight: 100;
        line-height: 1;
        color: #fff;
        margin-bottom: 6vh;
        letter-spacing: 1px;
    }

    .buttons{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .buttons>.order,.buttons>.collection{
        padding: 1.2vw 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: transparent;
        outline: none;
        border: 2px solid #fff;
        font-size: 1vw;
        font-weight: 300;
        letter-spacing: 1px;
        cursor: pointer;
        transition: background-color .5s, color .5s;
        font-style: italic;
        font-family: clashLight;


    }
    
    .buttons>.order:hover,.buttons>.collection:hover{
        background-color: #fff;
        color: #000;
        font-weight: 900;
    }
}




/* section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2
   section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2
   section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2
   section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2
   section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2 section2
*/

.section2{
    width: 100%;
    height: 35vh;
    /* background-color: red; */
    display: flex;
    gap: 1%;
    position: relative;
    padding: 0 2%;

    .left{
        width: 65%;
        height: 100%;
        background-color: #1D1D1D;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-left: 25%;

        .box{
            position: absolute;
            left: 0;
            width: 40%;
            height: 100%;
            /* background-color: rgba(255, 0, 0, 0.474); */
            display: flex;
            justify-content: center;
            align-items: center;

            .circle{
                width: 170px;
                height: 170px;
                border-radius: 50%;
                background-color: #926A54;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 90px;
                }
            }

            .halfCircle{
                width: 85px;
                height: 170px;
                background-color: purple;
                border-radius: 0 150px 150px 0;
                background-image: url(Assets/imgs/ringHalf.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: -80px;
            }

            .overlayArrow{
                position: absolute;
                left: 60%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                backdrop-filter: blur(10px);
                background: rgba(0, 0, 0, 0.4);
                cursor: pointer;
                transition: background .5s;
                
                i{
                    font-size: 1.2vw;
                }
            }

            .overlayArrow:hover{
                background: rgba(0, 0, 0, 0.6);
            }
        }

        i{
            font-size: 1.2vw;
            font-weight: 100;
            font-family: clashMedium;
        }

        h1{
            margin-top: 3vh;
            font-size: 3.5vw;
            font-weight: 100;
            /* font-family: OfSemiBold; */
            font-family: clashSemiBold;
            letter-spacing: 2px;
            font-weight: 900;
            line-height: .9;
        }
    }
    
    .right{
        width: 35%;
        height: 100%;
        background-color: #926A54;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-left: 4%;

        i{
            font-size: 1.2vw;
            font-weight: 100;
            /* font-family: EpRegular; */
            font-family: clashMedium;
        }

        h1{
            margin-top: 8vh;
            font-size: 4vw;
            font-weight: 100;
            /* font-family: OfSemiBold; */
            font-family: clashMedium;
            letter-spacing: 2px;
            font-weight: 600;
            line-height: .9;
        }

        .profiles{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10%;
            bottom: 15%;
            
            .box{
                position: relative;
                width: 70px;
                height: 70px;
                background-color: pink;
                border-radius: 50%;
                overflow: hidden;
                margin-right: -15px;
                border: 2px solid #fff;

                img{
                    width: 100%;
                }
            }
        }

    }
}



/* Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3
   Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3
   Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3
   Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3
   Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3 Section3
*/


.section3{
    width: 100%;
    height: 120vh;
    margin-top: 5vh;

    .up{
        width: 100%;
        height: 55%;
        padding-top: 10vh;

        .top{
            width: 100%;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            padding: 0px 3vw;
    
        }
        .top-right{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .top>.top-right>button{
            padding: 1.6vw 3vw;
            font-size: 1.6vw;
            font-family: clashRegular;
            border-radius: 50px;
            background-color: transparent;
            border: 2px solid white;
            cursor: pointer;
            transition: background-color .5s, color .5s;
        }
        .top-right button:hover{
            background-color: #fff;
            color: #000;
        }
        .top>h1{
            font-size: 9vw;
            font-family: clashSemiBold;
            text-transform: capitalize;
        }
        .top>.top-right>.img{
            width: 80px;
            height: 80px;
            border: 2px solid #fff;
            border-radius: 50px;
            background-color: transparent;
            background-image: url(Assets/imgs/rightArrowWhite.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px;
            font-size: 5vw;
            transition: background-color .5s, background-image .5s;
            cursor: pointer;
        }
    
        .top>.top-right>.img:hover{
            background-image: url(Assets/imgs/rightArrow.png);
            background-color: #fff;
        }
    
        .bottom{
            width: 100%;
            border-radius: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
            padding: 0px 3vw;
        }
        .left-p {
            width: 30%;
        }
        .left-p p{
            font-size: 1.2vw;
            font-weight: 100;
            font-family: clashLight;
            line-height: 1.5;
            font-style: italic;
            letter-spacing: .5px;
            opacity: .7;
            text-transform: capitalize;
        }
        .right-h1 h1{
            font-size: 9vw;
            font-family: clashSemiBold;
        }
    }


    .diamond{
        width: 100%;
        height: 45vh;
        position: relative;
        pointer-events: none;
    }

    hr{
        position: absolute;
        width: 80%;
        background-color: #fff;
        height: 1px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .diamond-img{   
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        pointer-events: none;
    }
    
    .diamond-img .img{
        position: relative;
        background-color: #130E0C;
        pointer-events: auto;
        cursor: pointer;
        z-index: 99;
        border-radius: 50%;
        

        

        h2{
            position: absolute;
            left: 50%;
            font-size: 2vw;
            font-family: clashMedium;
            letter-spacing: 1px;
            color: #4C4846;
            top: 140%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            transition: color .5s;
        }

        img{
            height: 22vh;
            width: 22vh;
            border: 2px solid #a7a6a599;
            border-radius: 50%;
            padding: 2vw;
            background-color: #130e0c;
            opacity: .5;
            cursor: pointer;
            pointer-events: none;
            z-index: 999;
        }

        img:hover{
            transform: scale(1.4);
        }
        
        .center{
            opacity: 1;
            margin: 0 2vw;
            background-color: transparent;
            filter: drop-shadow(0 0 2rem #a7a6a56b) brightness(1.1);
            scale: 1.4;
            color: #fff;
            /* box-shadow: 0px 0px 25px #ffffff2f; */
        }

        .text{
            color: #fff;
        }
    }

    .img:hover h2{
        color: #ffffffaa;
    }

    

    
    

    .circleLeft{
        height: 8px;
        width: 8px;
        background-color: #fff;
        /* border-radius: 50%; */
        transform: rotate(45deg) translate(-50%, -50%);
        position: absolute;
        top: 50.7%;
        left: 10%;
    }
    .circleRight{
        height: 8px;
        width: 8px;
        background-color: #fff;
        /* border-radius: 50%; */
        transform: rotate(45deg) translate(-50%, -50%);
        position: absolute;
        top: 50.7%;
        right: 10%;
    }

}




/* Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4
   Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4
   Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4
   Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4
   Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4 Section4
*/



.section4{
    width: 100%;
    height: 130vh;
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
      
    .top{
        width: 100%;
        height: 25%;
        position: relative; 
        display: flex;
        justify-content: space-between;
        align-items: center;


        h1{
            font-family: clashSemiBold;
            font-size: 12vw;
            letter-spacing: 5px;
            color: transparent;
            background: linear-gradient(to right, #3b3b3b, #fff);
            background-clip: text;
        }
        h2{
            font-family: clashSemiBold;
            font-size: 12vw;
            letter-spacing: 5px;
            color: transparent;
            background: linear-gradient(to left, #3b3b3b, #fff);
            background-clip: text;
        }

        span{
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        
        #span1{
            background-color: #926A54;
            left: 63.5%;
            top: 60%;
            transform: translate(-50%, -50%);
            z-index: 1;
            border: 2px solid #1D1D1D;
            background-image: url(Assets/imgs/section4design.png);
            background-repeat: no-repeat;
            background-size: 40px;
            background-position: center;
        }
        #span2{
            background-color: #fff;
            left: 66%;
            top: 60%;
            transform: translate(-50%, -50%);
        }


    }

    .bottom{
        width: 100%;
        height: 55%;
        position: relative; 
        /* background-color: pink; */
        display: flex;
        justify-content: space-between;
        align-items:end;
        overflow: hidden;

        .swiper {
            width: 32%;
            height: 90%;
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%, -50%);
        }
      
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            cursor: default;
        }
      
        .swiper-slide:nth-child(1n) {
            /* background-color: rgb(206, 17, 17); */
            background-image: url("Assets/imgs/card1.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
        }
        
        .swiper-slide:nth-child(2n) {
            background-image: url("Assets/imgs/card2.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(0, 140, 255); */
          }
      
          .swiper-slide:nth-child(3n) {
            background-image: url("Assets/imgs/card3.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(10, 184, 111); */
          }
      
          .swiper-slide:nth-child(4n) {
            background-image: url("Assets/imgs/card4.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(211, 122, 7); */
          }
      
          .swiper-slide:nth-child(5n) {
            background-image: url("Assets/imgs/card5.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(118, 163, 12); */
          }
      
          .swiper-slide:nth-child(6n) {
            background-image: url("Assets/imgs/card6.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(180, 10, 47); */
          }
      
          .swiper-slide:nth-child(7n) {
            background-image: url("Assets/imgs/card7.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(35, 99, 19); */
          }
      
          .swiper-slide:nth-child(8n) {
            background-image: url("Assets/imgs/card8.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(0, 68, 255); */
          }
      
          .swiper-slide:nth-child(9n) {
            background-image: url("Assets/imgs/card9.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(218, 12, 218); */
          }
      
          .swiper-slide:nth-child(10n) {
            background-image: url("Assets/imgs/card10.png");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            /* background-color: rgb(54, 94, 77); */
          }

          .swiper-button-prev{
            width: 80px;
            height: 50px;
            border-radius: 50px;
            top: 50%;
            /* position: absolute; */
            left: -85%;
            background-color: #000000;
            background-image: url("Assets/imgs/rightArrowWhite.png") !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            transform: rotate(180deg);
            transition: background-color .5s, background-image .5s;
          }
          .swiper-button-prev:hover, .swiper-button-next:hover{
            background-color: #fff;
            background-image: url("Assets/imgs/rightArrow.png") !important;
          }
          .swiper-button-next{
            width: 80px;
            height: 50px;
            border-radius: 50px;
            top: 50%;
            position: absolute;
            left: 170%;
            background-color: #000000;
            background-image: url("Assets/imgs/rightArrowWhite.png") !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            transition: background-color .5s, background-image .5s;
        }
        .swiper-button-next::after, .swiper-button-prev::after {
            content: "";
        }
    }

    .down{
        width: 100%;
        height: 20%;
        background-color: #000;

        .swiper {
            width: 30%;
            height: 90%;
            left: 15%;
            top: 50%;
            transform: translate(-50%, -50%);
            overflow: visible;
        }

        
      
        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            
            .text{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: default;
                opacity: .4;
                scale: .7;
                transition: opacity 1s, scale 1s;

                h1{
                    font-size: 3.5vw;
                    font-family: clashRegular;
                    font-weight: 900;
                    letter-spacing: 2.5px;
                }
                i{
                    font-size: 1.6vw;
                    font-family: clashLight;
                    font-weight: 400;
                    letter-spacing: 2.5px;
                    opacity: 0;
                    transition: opacity 1s;
                }
            }

        }
        .swiper-slide-active>.text{
            opacity: 1;
            scale: 1;
        }
        .swiper-slide-active>.text>i{
            opacity: 1;
        }

    }
}





.section5{
    width: 100%;
    height: 100vh;
    background-color: #926A54;
}





@media (max-width: 500px) {
    .main{
        position: relative;
    }
}